.action-button-container {
  display: flex;
  position: absolute;
  left: 61.8vw;
  padding-bottom: 5px;
  /* background-color: red; */
}
.action-buttons {
  /* padding: 10px; */
  gap: 10px;
  /* background-color: cyan; */
}

button {
  cursor: pointer;
  font-size: 14px;
  border: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 4px;
  padding: 8px;
  /* padding-top: 5px;   */
}

button:hover {
  color: white; /* Change text color on hover */
  background-color: #0056b3;
}
