.action-buttons {
  gap: 1px;
  display: flex;
  position: absolute;
  left: 61.8vw;
  padding-bottom: 5px;
  flex-wrap: wrap;
}

button {
  cursor: pointer;
  font-size: 14px;
  border: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 4px;
  padding: 8px;
  border: 1px solid rgba(0, 0, 0, 0.311);
}

button:hover {
  color: white;
  background-color: #0056b3;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .action-buttons {
    left: 50%;
    transform: translateX(-50%);
    padding-bottom: 10px;
  }

  button {
    font-size: 12px;
    padding: 6px;
  }
}

/* Media query for extra-small screens */
@media (max-width: 480px) {
  .action-buttons {
    flex-direction: column;
    position: static;
    align-items: center;
    gap: 5px;
  }

  button {
    width: 100%;
    font-size: 12px;
    padding: 8px;
  }
}
