/* filter option  */
.filter-date-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 35px;
}

.filter-section {
  text-align: left;
}

.filter-section label {
  margin-right: 10px;
  font-weight: bold;
}

.filter-section select {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

/* date section  */

.date-control {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
}

.date-display {
  display: flex;
  align-items: center;
}

#current-date {
  font-size: 16px;
  margin-right: 10px;
  padding-top: 5px;
  cursor: pointer;
}

.calendar-button {
  width: 50px;
  height: 50px;
  background-color: transparent;
}
.calendar-button:hover {
  background-color: transparent;
}

.calendar-button img {
  width: 40px;
  height: 50px;
  position: relative;
  top: -18px;
  left: -15px;
}

.nav-btn {
  background: none;
  border: none;
  font-size: 18px;
  padding: 5px 10px;
  cursor: pointer;
  color: black;
  margin-bottom: 10px;
}

.nav-btn:hover {
  background-color: #564d4d1c;
  cursor: pointer;
}

.view-selector {
  display: flex;
  align-items: center;
}
.view-btn {
  padding: 10px 20px;
  margin-right: 1px;
}

.view-details-btn {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.view-details-btn a {
  color: white;
  text-decoration: none;
}

.view-details-btn:hover {
  background-color: #45a049;
}
