/* Reset and Box Sizing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body Styling */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  min-height: 100vh;
  min-width: 80vw;
  overflow: hidden;
}
